.about-us {
        grid-column: 2;

    p {
        font-weight: 200;
    }

    &.container {
        margin: 0;
    }

    .title {
        text-align: center;
        margin-top: 0;
        margin-bottom: .5em;
    }
}