/* .accordion-group {
   
    summary {
       cursor: pointer;
       background-color: #e4e4e4;
       border: 1px solid #ddd;
       padding: 1em;
    }
    .content {
        padding: 0em 2em;
    }
} */

.accordion-group {
    border: 1px solid #e0e0e0;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.04);
    max-width: 600px;
    margin: 20px auto;
}

.accordion-group article {
    border-bottom: 1px solid #e0e0e0;
}

.accordion-group article:last-child {
    border-bottom: none;
}

.accordion-group summary {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.2em;
    background-color: #fff;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    color: var(--gray3);
    transition: all 0.3s ease;

    list-style: none;
}

.accordion-group summary::-webkit-details-marker {
    display: none;
}

.accordion-group summary:hover {
    background-color: var(--gray1);
}

.accordion-group summary::after {
    content: '';
    width: 6px;
    height: 6px;

    border-right: 2px solid var(--gray2);
    border-bottom: 2px solid var(--gray2);
    border-color: var(--gray3);

    transform: rotate(45deg);
    transition: transform 0.5s ease;
}

.accordion-group details[open] summary {
    background-color: var(--gray1);
    color: var(--clr1-dark);
    border-bottom: 1px solid #e0e0e0;
}

.accordion-group details[open] summary::after {
    transform: rotate(225deg);
    border-color: var(--gray3);
}

.accordion-group .content {
    padding-block: .5em;
    padding-inline: 1.4em;
    background-color: #fff;
    line-height: 1.6;
    color: #555;

    animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}