.app-header {
    background-color: var(--gray1);
    padding-block: 1.2em;
    padding-inline: 1em;

    display: grid;
    grid-template-columns: 1fr minmax(auto, 800px) 1fr;
    grid-template-rows: 1fr;

    .header-container {
        align-items: center;
        display: flex;
        justify-content: space-between;

        grid-column: 2;

        .title {
            grid-column: 2 / 3;
            font-size: 1.1rem;
            font-weight: 200;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

.app-nav {
    display: flex;
    justify-content: center;
    gap: 1.3em;

    margin-block: .3em;

    a {
        font-family: 'Elms Sans', sans-serif;
        font-weight: 100;
        font-size: 1.1rem;
        transition: .3s;
        text-decoration: none;

        &:hover {
            scale: 1.1;
        }
    }

    a.active {
        font-weight: 700;
        color: var(--clr2-dark);
    }
}

@media (max-width: 550px) {
    .app-nav {
        gap: 1.5em;

        a {
            font-size: 1rem;
        }
    }

    .app-header {
        padding-block: .4rem;
        padding-inline: 0;


        .header-container {
            flex-direction: column;

            .title {
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 380px) {
    .app-nav {
        gap: 1em;

        a {
            font-size: .9rem;
        }
    }

    .app-header {
        padding-block: .2rem;
        padding-inline: 0;

        .header-container {
            flex-direction: column;

            .title {
                font-size: .8rem;
            }
        }
    }
}