.app-header {
    display: flex;
    flex-direction: column;

    text-align: center;
    background-color: var(--gray1);
    padding-block: .5em;

    .title {
        font-size: 1.7rem;
        margin-bottom: .5em;
    }
}

.app-nav {
    display: flex;
    justify-content: center;
    gap: 2em;
    
    margin-block: .3em;

    a {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 100;
        transition: .3s;
        text-decoration: none;

        &:hover {
            scale: 1.2;
        }
    }
    a.active {
        font-weight: 700;
        color: var(--clr1-dark);
    }
}