.app-header {
    background-color: var(--gray1);
    padding-block: .8em;
    padding-inline: .5em;

    display: grid;
    grid-template-columns: 1fr minmax(auto, 800px) 1fr;
    grid-template-rows: 1fr;
    
    .header-container {
        align-items: center;
        display: flex;
        justify-content: space-between;

        grid-column: 2;
        
        .title {
            grid-column: 2 / 3;
            font-size: 1.1rem;
            font-weight: 200;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

.app-nav {
    display: flex;
    justify-content: center;
    gap: .8em;

    margin-block: .3em;

    a {
        font-family: 'Elms Sans', sans-serif;
        font-weight: 100;
        font-size: 1.1rem;
        transition: .3s;
        text-decoration: none;

        &:hover {
            scale: 1.1;
        }
    }

    a.active {
        font-weight: 700;
        color: var(--clr2-dark);
    }
}