.app-header {
    background-color: var(--gray1);
    padding-block: .5em;
    
    .header-container {
        display: grid;
        grid-template-columns: 1fr 4fr;
        align-items: center;
        padding-block: .5em;

        margin-bottom: .5em;

        .title {
            font-size: 1rem;
            font-weight: 200;
            text-align: center;
        }
    }
}

.app-nav {
    display: flex;
    justify-content: center;
    gap: 1em;

    margin-block: .3em;

    a {
        font-family: 'Elms Sans', sans-serif;
        font-weight: 100;
        transition: .3s;
        text-decoration: none;

        &:hover {
            scale: 1.2;
        }
    }

    a.active {
        font-weight: 700;
        color: var(--clr2);
    }
}