.app-header {
    display: flex;
    flex-direction: column;

    text-align: center;
    background-color: var(--gray1);
    padding-block: .5em;

    .title {
        font-size: 1.7rem;
    }
}

.app-nav {
    display: flex;
    justify-content: center;
    gap: 1em;

    margin-block: .3em;

    a {
        /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
        font-family: 'Elms Sans', sans-serif;
        font-weight: 100;
        transition: .3s;
        text-decoration: none;

        &:hover {
            scale: 1.2;
        }
    }

    a.active {
        font-weight: 700;
        color: var(--clr1-dark);
    }
}

.home-page {
    flex-direction: column;
}

.login-signup {

    input {
        font-size: .8rem;
    }

    .btns {
        a {
            font-size: .8rem;
        }
    }

    .login-form {
        
        button {
            margin: 0;
            padding: .5em .7em .6em;
            border-radius: 15px;

        }
    }
}