.chat-container {
    max-width: 270px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 1px;

    .title {
        display: flex;
        justify-content: space-between;
    }
}

.chat-messages {
    height: 250px;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 10px;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
}

.message.user {
    background-color: #bef0ff;
    margin-left: 40%;
    padding-inline-start: .7em;
    font-size: .8rem;
    border-radius: 1.5rem 1.5rem 0 1.5rem;

    section span,
    h3 {
        margin-block: 0;
    }

    p {
        margin: 0;
    }
}

.message.other {
    background-color: var(--gray1);
    margin-right: 30%;
    font-size: .8rem;
    font-weight: 200;
    margin-block: 0;

    border-radius: 1.5rem 1.5rem 1.5rem 0;

    section span,
    h3 {
        margin-block: 0;
    }

    p {
        margin: 0;
    }
}

.timestamp {
    font-size: .8em;
    color: var(--gray2);
    display: block;
    margin-bottom: 5px;
}

.chat-input-form {
    display: flex;
    gap: 10px;
}

.chat-input-form input {
    flex: 1;
    padding-inline: 15px;
    border: 1px solid var(--gray2-light);
    border-radius: 20px;
}

.chat-input-form button {
    padding: 10px 16px;
    background-color: #007bff;
    font-weight: 500;
    color: var(--gray1-light);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin: 0;
}

.chat-input-form button:hover {
    background-color: #0056b3;
}