.chat-container {
    max-width: 270px;
    margin: 10px auto;
    /* border: 1px solid #ccc; */
    border-radius: 15px;
    padding: 1px;

    .title {
        display: flex;
        justify-content: space-between;
    }
}

.chat-messages {
    height: 100px;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 10px;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
}

.message.user {
    background-color: #e3f2fd;
    margin-left: 20%;
    border-radius: 2rem 2rem 0 2rem;
}

.message.other {
    background-color: #f5f5f5;
    margin-right: 20%;
    border-radius: 2rem 2rem 2rem 0;
}

.timestamp {
    font-size: 0.8em;
    color: #666;
    display: block;
    margin-bottom: 5px;
}

.chat-input-form {
    display: flex;
    gap: 10px;
}

.chat-input-form input {
    flex: 1;
    padding-inline: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.chat-input-form button {
    padding: 10px 16px;
    background-color: #007bff;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin: 0;
}

.chat-input-form button:hover {
    background-color: #0056b3;
}