.google-map {
    height: 55%;
    min-width: 80%;

    grid-column: 2;

    .branches-list-container {
        padding-bottom: 10px;
    }

    .map-page-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px 20px 80px 20px;
    }

    .map-info-window {
        padding: 5px;
        color: var(--gray3);
    }

    .map-info-window h4 {
        margin: 0 0 5px 0;
        font-size: 1rem;
    }

    .branches-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        gap: 12px;
        margin-block: 1em;
    }

    .branch-card {
        background: var(--gray1-light);
        border-radius: 20px;
        padding-block: 15px;
        padding-inline: 24px;
        border: 1px solid var(--gray1);
        transition: all 0.3s ease;
        cursor: pointer;
        /* box-shadow: 0px 0px 1px 0px var(--gray2-light); */

        display: flex;
        align-items: flex-start;
        position: relative;
        overflow: hidden;
    }

    .branch-card:hover {
        transform: translateY(-3px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        border-color: var(--gray2);
    }

    .card-icon {
        font-size: 1.4rem;
        padding-inline: .1em;

        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .card-content {
        flex: 1;
        text-align: right;
    }

    .card-content h3 {
        margin: 0 0 8px 0;
        color: var(--gray3);
        font-size: .95rem;
        font-weight: 400;
    }

    .card-content .address {
        color: var(--gray2);
        margin: 0 0 7px 0;
        font-size: 0.8rem;
    }

    .card-content .hours {
        color: var(--gray3);
        font-size: 0.7rem;
        font-weight: 300;
        display: flex;
        align-items: center;
        gap: 5px;
        margin: 0;
        justify-content: right;
    }

    .clock-icon {
        font-size: 1rem;
    }
}