.home-page {
    grid-column: 2;

    background-color: var(--gray1-light);
    color: var(--gray3);
    padding-bottom: 5px;
    font-family: 'Elms Sans', sans-serif;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 30px;
    gap: 40px;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 2.4rem;
    margin-bottom: 20px;
    font-weight: 100;
    color: var(--gray3);
}

.hero-text p {
    font-size: .9rem;
    color: var(--gray2);
    margin-bottom: 40px;
    max-width: 400px;
    line-height: 1.6;
}

.hero-btns {
    display: flex;
}

.hero-btns .btn {
    padding: 16px 30px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}

.btn-primary {
    background-color: var(--clr2-dark);
    color: var(--gray1-light);
    /* box-shadow: 0 4px 15px rgba(230, 167, 110, 0.3); */
}

.btn-primary:hover {
    background-color: var(--clr2);
    transform: translateY(-2px);
}

.btn-secondary {
    background-color: transparent;
    border: 1.5px solid var(--clr2-dark);
    color: var(--clr2-dark);
}

.hero-img {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

.hero-img img {
    max-width: 80%;
    height: auto;
    z-index: 2;
    /* animation: float 6s ease-in-out infinite; */
}

/* .hero-img::after {
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: #ffefff;
    border-radius: 50%;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.toys-container {}

.toys-container h2 {
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
}

.toy-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 30px;
}

.toy-card {
    background: white;
    border-radius: 30px;
    padding: 20px;
    transition: 0.3s ease;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.03);
}

.toy-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
}

/* @keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
} */

@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;

    }

    .hero-text h1 {
        font-size: 1.3rem;
    }

    .hero-text p {
        margin: 0 auto 20px;
    }

    .hero-btns {
        justify-content: center;
    }

    .hero-img img {
        max-width: 220px;
        height: auto;
        z-index: 2;
        /* animation: float 6s ease-in-out infinite; */
    }
}

@media (max-width: 400px) {
    .hero-section {
        flex-direction: column;
        text-align: center;
        gap: 0;

        padding: 40px 0;
    }

    .hero-text h1 {
        font-size: 1.1rem;
    }

    .hero-btns {
        justify-content: center;

        .btn {
            padding-block: 5px;
            padding-inline: 10px;
            border-radius: 16px;
            font-size: .9rem;
            font-weight: 200;
        }
    }

    .hero-text p {
        margin: 0 auto 5px;
        font-size: .9rem;
    }

    .hero-img img {
        max-width: 180px;
        height: auto;
        z-index: 2;
        /* animation: float 6s ease-in-out infinite; */
    }
}