.popup-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-container {
    background-color: var(--gray1-light);
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 65%;
    max-width: 320px;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
}

.popup-header {
    text-align: center;
    font-size: 1rem;
    padding: .8rem;

    h3 {

        font-weight: 100;
    }
}

.popup-main {
    padding: .5rem;
    overflow-y: auto;
    flex: 1;
}

.popup-footer {
    padding: 0.5rem;
    border-top: 1px solid #eee;
    display: flex;
    font-size: .7rem;
    justify-content: center;
}

@media (max-width: 480px) {
    .popup-container {
        transition: .3s;
        width: 200px;
    }

    .chat-input-form {
        gap: 3px;

        input {
            width: 60%;
            font-weight: 200;
            font-size: .8rem;
            padding-inline: 10px;
        }

        button {
            padding-block: 8px;
            padding-inline: 12px;
            font-size: .8rem;
            font-weight: 200;
        }
    }

    .popup-header {
        h3 {
            font-size: 1rem;
        }
    }
}