.shopping-cart {

    background-color: var(--gray3-light);
    color: black;
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 10px;

    ul {
        list-style-type: none;
        padding: 0;
        margin-block: .3em;
    }
    p {
        margin-block: .3em;
        font-size: .9rem;
    }

    button {
        padding: .3em;
        margin-block: 0;
        background-color: transparent;
    }
}

.shopping-cart li {
    font-size: .85rem;
    font-weight: 100;

    span {
        color: var(--gray2);

    }
    button {
        margin-block: .1em;
        padding: .2em;
        background-color: transparent;
    }
}