.shopping-cart {
    background-color: var(--clr1bg-light);
    color: var(--gray3);
    padding: 10px;
    position: fixed;
    top: 50px;
    right: 10px;

    ul {
        list-style-type: none;
        padding: 0;
        margin-block: .3em;
    }
    p {
        text-align: center;
        margin-block: .3em;
        font-size: .9rem;
        font-weight: 200;
    }

    button {
        padding: .3em;
        margin-block: 0;
        background-color: transparent;
    }
}

.shopping-cart li {
    font-size: .85rem;
    font-weight: 100;

    span {
        color: var(--gray2);

    }
    button {
        margin-block: .1em;
        padding: .2em;
        background-color: transparent;
    }
}