.toy-details {
    display: grid;
    grid-template-rows: 6fr 1fr;
    grid-column: 2;

    .body-details {
        gap: .5em;

        .main-details {
            display: flex;
            flex-direction: column;
        }

        h5 {
            margin-block: 1em;

            span {
                display: block;
                font-weight: 200;
            }
        }
    }

    .div-img-stock {
        display: flex;
        flex-direction: column;
        align-items: center;

        .toy-img {
            max-width: 140px;
        }
    }

    a {
        /* background-color: white; */
        padding-block: .3em;
        font-weight: 200;
        transition: .2s;
        font-size: 1rem;

        &:hover {
            background-color: transparent;
            font-size: 1.1rem;
            color: var(--gray3);
        }
    }

    .links {
        display: grid;
        grid-auto-flow: column;
        align-self: end;
        margin: 0 auto;

        .btn-back {
            transition: .3s;

            &:hover {
                background-color: var(--gray1-light);
            }
        }
    }

    .green {
        color: green;
        font-size: 1rem;
        font-weight: 300;
    }

    .red {
        color: crimson;
        font-size: 1rem;
        font-weight: 300;
    }

    .open-chat:hover {
        background-color: #0056b3;
    }

    .open-chat {
        background-color: var(--clr1-dark);
        color: white;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50% 50% 0% 50%;
        bottom: 80px;
        padding-block: 1.6em;
        padding-inline: 2em;

        right: 10px;
        width: 2em;
        height: 1.3em;

        transition: .3s;
        transform-origin: bottom right;

        &:hover {
            scale: 1.2;
            background-color: var(--clr1-dark);
        }
    }
}