.toy-details {
    h5 {
        text-align: center;
        margin-block: 1em;
    }

    a {
        /* background-color: white; */
        padding-block: .3em;
        font-weight: 200;
        transition: .2s;
        font-size: 1rem;

        &:hover {
            background-color: transparent;
            font-size: 1.1rem;
            color: black;
        }
    }

    .links {
        display: grid;
        grid-auto-flow: column;
        /* justify-items: center; */
        width: max-content;
        margin: 1em auto;
    }

    .toy-img {
        width: 20vw;
    }

    .green {
        color: green;
        font-size: 1rem;
        font-weight: 300;
    }

    .red {
        color: crimson;
        font-size: 1rem;
        font-weight: 300;
    }

    .open-chat:hover {
        background-color: #0056b3;
    }

    .open-chat {
        background-color: var(--clr2);
        color: white;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50% 50% 0% 50%;
        bottom: 80px;
        padding-block: 1.6em;
        padding-inline: 2em;

        right: 10px;
        width: 2em;
        height: 1.3em;

        transition: .3s;
        transform-origin: bottom right;

        &:hover {
            scale: 1.2;
            background-color: var(--clr2);
        }
    }
}