.toy-details {
    grid-column: 2;

    margin-top: 1em;
    width: 100%;

    .body-details {
        gap: .5em;
        justify-content: space-evenly;

        .main-details {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 5px;
        }

        h5 {
            font-weight: 300;
            font-size: .9rem;

            span {
                display: block;
                font-weight: 300;
            }
        }

        .div-img-stock {
            justify-content: center;
        }
    }

    .section-reviews-messages {
        margin-top: 1em;

        display: flex;
        justify-content: center;

        .section-reviews,
        .section-comments {
            width: 100%;

            .clean-list {
                max-height: 100px;
                overflow-y: auto;
            }
        }

        h3 {}

        .no-comment,
        .no-comment-login {
            text-align: center;
            color: var(--gray2);
            font-size: .9rem;
        }

        /* .no-comment-login {
            text-align: center;
            color: var(--gray2);
        } */

        .msg-form,
        .review-form {
            display: flex;
            justify-content: center;
            gap: .5em;
            margin-top: .5em;

            input {
                box-shadow: 0 0 5px 0 var(--gray2-light);
                padding-block: 8px;
                padding-inline: 10px;
                border-radius: 10px;
                font-size: .8rem;
                font-family: 'Elms Sans', sans-serif;
                /* border: 1px solid var(--gray2-light); */
                border: 0;
            }

            button {
                padding: 0;
                transition: .3s;
                margin: 0;

                &:hover {
                    background-color: inherit;
                    color: var(--gray2);
                }
            }
        }

        .clean-list {
            display: flex;
            flex-direction: column;
            align-items: center;

            height: 150px;
            overflow-y: auto;

            p {
                margin: 0;
            }
        }

        li {
            display: flex;
            /* flex-direction: column; */
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            height: 20px;

            .btn-remove-msg,
            .btn-remove-rvw {
                margin: 0;
                padding-block: 0;
                padding-inline: 5px;
            }
        }

        .title-comment,
        .title-review {
            font-size: 1rem;
            text-align: center;
        }

        .name-comment,
        .txt-comment,
        .date-comment,
        .name-review,
        .txt-review,
        .date-review {
            font-size: .9rem;
            font-weight: 200;
        }

        .date-comment,
        .date-review {
            font-size: .8rem;
            margin: 0;
        }
    }

    .div-img-stock {
        display: flex;
        flex-direction: column;
        align-items: center;

        .toy-img {
            max-width: 140px;
        }
    }

    a {
        /* background-color: white; */
        padding-block: .3em;
        font-weight: 200;
        transition: .2s;
        font-size: 1rem;

        &:hover {
            background-color: transparent;
            font-size: 1.1rem;
            color: var(--gray3);
        }
    }

    .links {
        display: grid;
        grid-auto-flow: column;
        align-self: end;
        margin: 0 auto;

        div {
            display: flex;
            justify-content: center;

            .btn-back {
                text-align: center;
                transition: .3s;
                font-size: .9rem;

                &:hover {
                    background-color: transparent;
                    color: var(--gray2);
                }
            }
        }
    }

    .green {
        color: green;
        font-size: 1rem;
        font-weight: 300;
    }

    .red {
        color: crimson;
        font-size: 1rem;
        font-weight: 300;
    }

    .open-chat:hover {
        background-color: #0056b3;
    }

    .open-chat {
        background-color: var(--clr1-dark);
        color: white;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50% 50% 0% 50%;
        bottom: 80px;
        padding-block: 1.6em;
        padding-inline: 2em;

        right: 10px;
        width: 2em;
        height: 1.3em;

        transition: .3s;
        transform-origin: bottom right;

        &:hover {
            scale: 1.2;
            background-color: var(--clr1-dark);
        }
    }

    .customer-gallery {
        margin-top: 5em;

        .upload-section {
            display: flex;
            justify-content: center;
        }
    }
}

@media (max-width: 550px) {
    .toy-details {
        display: flex;
        flex-direction: column;
        align-items: center;

        .clean-list {
            max-height: 150px;
        }
    }

    .body-details {
        flex-direction: column;
        text-align: center;
    }

    .section-reviews-messages {
        margin-top: 0;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 1em;

        .section-reviews,
        .section-comments {
            max-width: 320px;
        }
    }

    .links {
        grid-auto-flow: row;
        gap: 10px;
    }
}