.toy-details {
    display: grid;
    grid-template-rows: 6fr 1fr;
    grid-column: 2;
    width: 100%;

    .body-details {
        gap: .5em;
        justify-content: space-evenly;

        .main-details {
            display: flex;
            flex-direction: column;
        }

        h5 {
            margin-block: 1em;
            font-weight: 300;

            span {
                display: block;
                font-weight: 200;
            }
        }
    }

    .toy-db-messages {

        .msg-form {
            display: flex;
            justify-content: center;
            gap: .5em;
            margin-top: 1em;

            input {
                padding-block: 8px;
                padding-inline: 10px;
                border-radius: 10px;
                font-size: .8rem;
                font-family: 'Elms Sans', sans-serif;
                border: 1px solid var(--gray2-light);
            }

            button {
                padding: 0;
                transition: .3s;
                margin: 0;

                &:hover {
                    background-color: inherit;
                    font-size: .95rem;
                    color: inherit;
                }
            }
        }

        margin-top: 2em;

        .clean-list {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        li {
            width: 60vw;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .btn-remove-msg {
                margin: 0;
                padding: 5px;
            }
        }

        .title-comment {
            font-size: 1rem;
            text-align: center;
        }

        .name-comment,
        .txt-comment,
        .date-comment {
            font-size: .9rem;
            font-weight: 200;

        }

        .date-comment {
            font-size: .8rem;
            margin: 0;
        }
    }

    .div-img-stock {
        display: flex;
        flex-direction: column;
        align-items: center;

        .toy-img {
            max-width: 140px;
        }
    }

    a {
        /* background-color: white; */
        padding-block: .3em;
        font-weight: 200;
        transition: .2s;
        font-size: 1rem;

        &:hover {
            background-color: transparent;
            font-size: 1.1rem;
            color: var(--gray3);
        }
    }

    .links {
        display: grid;
        grid-auto-flow: column;
        align-self: end;
        margin: 0 auto;

        .btn-back {
            transition: .3s;
        }
    }

    .green {
        color: green;
        font-size: 1rem;
        font-weight: 300;
    }

    .red {
        color: crimson;
        font-size: 1rem;
        font-weight: 300;
    }

    .open-chat:hover {
        background-color: #0056b3;
    }

    .open-chat {
        background-color: var(--clr1-dark);
        color: white;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50% 50% 0% 50%;
        bottom: 80px;
        padding-block: 1.6em;
        padding-inline: 2em;

        right: 10px;
        width: 2em;
        height: 1.3em;

        transition: .3s;
        transform-origin: bottom right;

        &:hover {
            scale: 1.2;
            background-color: var(--clr1-dark);
        }
    }
}