.toy-edit {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;

    grid-column: 2 / 3;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group select[multiple] {
    min-height: 90px;
}

.error {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

button[type="submit"] {
    background-color: #1976d2;
    color: var(--gray1-light);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #1565c0;
}

select[multiple] {
    width: 140px;
    /* padding: 8px; */
    border: 1px solid var(--gray1);
    border-radius: 10px;
    background: var(--gray1-light);
    outline: none;
    cursor: pointer;
}

select[multiple] option {
    padding: 5px;
}