.toy-filter {
    /* display: flex;
    align-items: center; */
    /* justify-content: center; */
    /* gap: 2em; */
    background-color: var(--gray1);
    padding: .5em;
    color: var(--gray3);

    .filtering {
        
    }

    .filter-by-price,
    .filter-by-name {
        width: 120px;
        margin-inline: .6em;

    }
}