.app-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 49;
    backdrop-filter: blur(3px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

.app-overlay.open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.toy-filter {
    --smooth-bezier: cubic-bezier(0.4, 0.0, 0.2, 1);
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--gray1-light);
    border-radius: 7px;
    transform: translateX(-108%);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Elms Sans', sans-serif;
    transition: transform 0.45s var(--smooth-bezier), box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    z-index: 50;
}

.toy-filter.open {
    transform: translateX(0);
    align-items: center;
}

.toy-filter .btn-clear {
    background: none;
    border: none;
    color: var(--gray2);
    font-size: 0.85rem;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
    transition: .2s;
}

.toy-filter .btn-clear:hover {
    color: var(--clr2-very-dark);
}

.toy-filter .toggle-btn {
    position: absolute;
    right: -80px;
    top: 90px;

    background-color: transparent;
    background-color: var(--clr2-dark);
    padding-block: .8em;
    padding-inline: 1.5em;
    font-weight: 200;
    border-radius: 10px;
    cursor: pointer;
    /* color: #f148b9; */
    color: var(--gray1-light);
    transition: all 0.3s ease;
    font-size: 1.2rem;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.toy-filter .toggle-btn:hover {
    color: var(--clr2-very-dark);
}

.toy-filter select:hover,
.toy-filter input:hover {
    border: 1px solid var(--gray3);
}

.toy-filter .filtering {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.toy-filter .filtering .filter-right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toy-filter .filtering .filter-left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toy-filter .filtering div div {
    margin: 0;
    height: 36px;
}

.toy-filter .filtering div div .select-labels {
    background-color: var(--gray1-light);
}

.toy-filter .filtering div label {
    padding-top: 4px;
    font-size: .85rem;
    font-family: 'Elms Sans', sans-serif;
}

.toy-filter .filtering .filter-by-price,
.toy-filter .filtering .filter-by-name,
.toy-filter .filtering .filter-by-stock {
    background-color: var(--gray1-light);
    color: var(--gray3);
    height: 35px;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    padding: 0 10px;
    font-size: .8rem;
    font-family: inherit;
    box-sizing: border-box;
    transition: all 0.2s ease;
    width: 120px;
}

.toy-filter .filtering .filter-by-price:focus,
.toy-filter .filtering .filter-by-name:focus,
.toy-filter .filtering .filter-by-stock:focus {
    border-color: #ffa9eb;
    border-width: 2px;
    outline: none;
    padding: 0 10px;
}

.toy-filter .filtering ::placeholder {
    color: var(--gray2);
    opacity: 1;
}

.toy-filter .title {
    margin: 0 0 0;
    font-size: 1rem;
    font-weight: 400;
}

.toy-filter .sort-select {
    color: var(--gray3);
    border: 1px solid var(--gray2-light);
    height: 25px;
    padding-inline-start: 5px;
    background-color: var(--gray1-light);
    margin-top: 4px;
    font-family: 'Elms Sans', sans-serif;
}

.toy-filter .div-select {
    width: 120px;
    min-width: 120px;
    max-width: 120px;
    margin: 0;
}

.toy-filter .div-select .MuiOutlinedInput-root {
    height: 35px;
    background-color: var(--gray1-light);
    border-radius: 2px;
    padding-right: 0;
    overflow: hidden;
}

.toy-filter .div-select .MuiOutlinedInput-notchedOutline {
    border-color: #c4c4c4;
}

.toy-filter .div-select .Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #ffa9eb;
    border-width: 2px;
}

.toy-filter .div-select .MuiInputLabel-root {
    font-size: 0.8rem;
    color: var(--gray3);
    font-family: inherit;
    top: -5px;
}

.toy-filter .div-select .MuiInputLabel-shrink {
    top: 0;
}

.toy-filter .div-select .MuiChip-root {
    height: 35px;
    padding: 0;
    font-size: 0.6rem;
    margin: 0 0;
}

.toy-filter-menu {
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    background-color: var(--gray1-light);
    border: 1px solid #eee;
}

.toy-filter-menu .MuiMenuItem-root {
    font-size: 0.9rem;
    font-family: 'Elms Sans', sans-serif;
    color: #555;
    transition: all 0.2s ease;
    padding-block: 0;
}

.toy-filter-menu .MuiMenuItem-root:hover {
    background-color: #ffebf6;
    color: var(--clr2-very-dark);
}

.toy-filter-menu .MuiMenuItem-root.Mui-selected {
    background-color: #ffa8eb;
    color: var(--gray1-light);
    font-weight: 400;
}

.toy-filter-menu .MuiMenuItem-root.Mui-selected:hover {
    background-color: #ff8ce2;
}

@media (min-width: 700px) {
    .toy-filter {
        width: 170px;
    }

    .toy-filter .filtering {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .toy-filter .filtering .filter-right-side,
    .toy-filter .filtering .filter-left-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 130px;
    }
}

@media (max-width: 440px) {
    .toy-filter {
        width: 130px;
    }

    .toy-filter .filtering {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .toy-filter .filtering .filter-right-side,
    .toy-filter .filtering .filter-left-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 130px;
    }
}