.toy-filter {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 2em;
    background-color: var(--gray1);
    padding: .5em;
    color: var(--gray3);

    .filter-by-price,
    .filter-by-name {
        width: 120px;
    }
}