.add-btn {
    margin: 0;
    /* padding: 0; */
    font-size: .9rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        font-size: .9rem;
        padding: .5em;
        transition: .4s;
        border-radius: 10px;
    }
    a:hover {
        background-color: var(--gray3);
        color: var(--gray1);
    }
}