.add-btn {
    margin: 0;
    font-size: .9rem;
}

main {
    display: grid;
    justify-items: center;
    align-items: start;

    a {
        font-size: .9rem;
        padding: .5em;
        transition: .4s;
        border-radius: 10px;
    }

    a:hover {
        background-color: var(--gray3);
        color: var(--gray1);
    }
}

.descruption-toy {
    margin-block: 1em;
}

.title {
    text-align: center;
}

.btns-add-toy {
    display: flex;
    align-items: center;
    gap: 3px;

    a,
    button {
        font-weight: 200;
        font-size: 1rem;
        padding-block: .25em;
        margin-inline: .2em;
        background-color: var(--clr2-dark);
        color: var(--gray1-light);
        border-radius: 8px;

        &:hover {
            background-color: var(--clr2);
            color: var(--gray1-light);
        }
    }
}

main.main-layout {
    padding: 0;

    display: grid;
    grid-template-columns: 1fr minmax(auto, 800px) 1fr;
    grid-template-rows: 1fr;

    margin-top: 0;
}

.toy-index {
    margin: 0;

    grid-column: 2;

    .pagination {
        position: absolute;
        bottom: 0;
    }
}


.btn-remove {
    padding: 0;
    background-color: transparent;
}

@media (max-width: 380px) {
    .btns-add-toy {
        flex-direction: column;
    }
}