.toy-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    gap: 0.6em;
    margin-block: 0.6em;
}

.toy-list li {
    display: flex;
    width: 140px;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--clr2-light);
    padding-inline: 0;
    padding-top: .2em;
    padding-bottom: .3em;
    border-radius: 15px;
    transition: .4s;
}