.toy-list {
    list-style: none;
    padding-left: 0;
    margin-block: 0.6em;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.toy-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /* width: 220px; */
    height: 200px;
    object-fit: cover;
    /* background-color: var(--clr2); */
    /* background-color: var(--clr2); */

    padding-inline: 0;
    padding-top: .2em;
    padding-bottom: .3em;
    border-radius: 20px;
    margin: 0;
    transition: .4s;
}

@media (min-width: 751px) {
    .toy-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 750px) {
    .toy-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 550px) {
    .toy-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 380px) {
    .toy-list {
        grid-template-columns: 1fr;
    }
}