.toy-list {
    list-style: none;
    padding-left: 0;
    gap: 10px;
    margin-block: 0.6em;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.toy-list li {
    display: flex;
    width: 150px;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--clr2-light);
    padding-inline: 0;
    padding-top: .2em;
    padding-bottom: .3em;
    border-radius: 6px;
    transition: .4s;
    margin: 0;
}

@media (max-width: 1100px) {
    .toy-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 700px) {
    .toy-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 380px) {
    .toy-list {
        grid-template-columns: 1fr;
    }
}