.toy-preview {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-block: 0.3em;
    cursor: pointer;
    transition: .4s;

    .title {
        padding-bottom: 0;
        text-transform: capitalize;
        color: var(--gray3);
    }

    p {
        font-size: .8rem;

        a {
            font-size: .8rem;
            font-weight: 300;
        }
    }

    .btns-preview {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;

        .btn-edit,
        .btn-details,
        .btn-remove {
            display: inline;
            font-size: .75rem;
            padding-inline: .2em;
            padding-block: 0;

            &:hover {
                background-color: transparent;
            }
        }
    }
}

.toy-preview {

    .buy {
        padding: .3em;
        margin-top: .1em;
        padding-inline: .6em;
    }

    p {
        font-size: .8rem;
        margin: 0;

        a {
            &:hover {
                background-color: transparent;
            }
        }
    }

    .toy-img {
        max-width: 40px;
        height: auto;
        margin-block: .2em;
        object-fit: cover;
    }
}

.toy-list:has(.toy-list-preview:hover) > .toy-list-preview:not(:hover) {
    scale: .9;
    opacity: .7;
}