.toy-preview {
    text-align: center;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        padding-bottom: 0;
        text-transform: capitalize;
        color: var(--gray3);
    }

    p {
        font-size: .9rem;
    }

    .btns-preview {

        a {
            display: inline;
            font-size: .8rem;
            padding-inline: .4em;

            &:hover {
                font-size: 1rem;
                background-color: transparent;
            }
        }
    }
}

.toy-preview {

    .buy {
        padding: .3em;
        margin-top: .1em;
        padding-inline: .6em;
    }

    p {
        margin: 0;

        a {
            &:hover {
                background-color: transparent;
            }
        }
    }

    .toy-img {
        max-width: 50px;
        height: auto;
        margin-block: .2em;
        object-fit: cover;
    }
}