.toy-preview {
    text-align: center;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
  
    .title{
        padding-bottom: .3em;
        text-transform: capitalize;
        color: var(--gray3);
    }

    p {
        font-size: .9rem;
    }

    a {
        display: inline;
    }
}

.toy-preview img {
    max-width: 100px;
}