.toy-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;

    /* padding-block: 0.3em; */
    cursor: pointer;
    height: 200px;
    width: 170px;

    transition: .4s;
    opacity: 1;
    position: relative;

    .title {
        /* padding-top: .5em; */
        padding-bottom: 0;
        text-transform: capitalize;
        color: var(--gray3);
        margin-bottom: 0;
        font-weight: 300;
    }

    p {
        font-size: .8rem;

        a {
            font-size: .8rem;
            font-weight: 300;
        }
    }

    /* p.not-in-stock {
        opacity: .5;
    }

    p.in-stock {
        opacity: .7;
    } */

    .btns-preview {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;

        .btn-edit,
        .btn-details,
        .btn-remove {
            display: inline;
            font-size: .75rem;
            padding-inline: .2em;
            padding-block: 0;

            &:hover {
                background-color: transparent;
            }
        }
    }

    .buy {
        padding: .3em;
        margin-top: .1em;
        padding-inline: .6em;
    }

    p {
        font-size: .8rem;
        margin: 0;

        a {
            &:hover {
                background-color: transparent;
            }
        }
    }

    .toy-img {
        width: 150px;
        height: 150px;
        margin-block: .2em;
        object-fit: cover;
        opacity: .9;
        z-index: 3;
        transition: .3s;
        border-radius: 10px;


        /* position: absolute; */

        &:hover {
            opacity: 1;
        }
    }
}

.toy-list:has(.toy-list-preview:hover)>.toy-list-preview:not(:hover) {
    scale: .9;
    opacity: 0.7;
}

.toy-list-preview {
    list-style: none;
    margin-bottom: 10px;
}

.toy-preview.start-animation {
    animation: fadeInUp 0.6s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 751px) {
    .toy-preview {
        height: 240px;
    }
}

@media (max-width: 750px) {
    .toy-preview {
        height: 200px;
    }
}

@media (max-width: 550px) {
    .toy-preview {
        height: 170px;
    }
}

@media (max-width: 380px) {
    .toy-preview {
        height: 140px;
    }
}