.toy-preview {
    text-align: center;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        padding-bottom: 0;
        text-transform: capitalize;
        color: var(--gray3);
    }

    p {
        font-size: .8rem;

        a {
            font-size: .8rem;
            font-weight:700;
        }
    }

    .btns-preview {
        display: flex;
        justify-content: center;
        gap: .5em;
        width: 100%;
        align-items: end;

        .btn-remove {
            font-size: 1rem;
            padding-block: 0;
            padding-bottom: .1em;
        }

        a {
            display: inline;
            font-size: .8rem;
            padding-inline-start: .3em;
            padding-inline-end: .3em;
            /* background-color: var(--gray1); */
            padding-block: .1em;
            padding-bottom: .2em;            

            &:hover {
                background-color: transparent;
            }
        }
    }
}

.toy-preview {

    .buy {
        padding: .3em;
        margin-top: .1em;
        padding-inline: .6em;
    }

    p {
        font-size: .8rem;
        margin: 0;

        a {
            &:hover {
                background-color: transparent;
            }
        }
    }

    .toy-img {
        max-width: 40px;
        height: auto;
        margin-block: .2em;
        object-fit: cover;
    }
}