.user-msg {
    display: flex;
    align-items: center;

    background-color: lightgray;
    padding-inline-start: 1em;
    position: fixed;
    bottom: 0;
    right: 1em;
    color: white;
    border-radius: 2px;
    font-size: 1.1em;
}

.user-msg.success {
    background-color: var(--clr1);
}

.user-msg.error {
    background-color: var(--clr-err);
}

.user-msg button {
    font-size: .8em;
    float: right;
    border-radius: 0;
    background-color: transparent;
}