.user-msg {
    display: flex;
    align-items: center;

    background-color: var(--clr1);
    padding-inline-start: 1em;
    position: fixed;
    bottom: 0;
    right: 1em;
    color: white;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: 300;
}

.user-msg.success {
    background-color: var(--clr1);
}

.user-msg.error {
    background-color: var(--clr1-dark);
}

.user-msg button {
    font-size: .9em;
    color: var(--gray1);
    float: right;
    background-color: transparent;
}