:root {
  --clr1: #85e5ff;
  --clr2: #b5f5ff;
  --clr1-dark: #daaece;
  --clr2-dark: #00bca9;

  --clr1bg: #c3eddf;
  --clr1bg-light: #c1f1e1;
  --gray3-light: #e9d8a6;

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

}