:root {
  --clr1: #41c9ff;
  --clr1-dark: #007bff;
  --clr1-light: #a5ecff;

  --clr2: #ffc1f4;
  --clr2-dark: #ffa6e9;
  --clr2-very-dark: #f148b9;
  --clr2-light: #ffcff6;

  --clr1bg: #c3eddf;
  --clr1bg-light: #c1f1e1;
  --gray3-light: #c0ffeb;

  --gray1: rgb(240, 240, 240);
  --gray1-light: rgb(255, 255, 255);
  --gray2: rgb(155, 155, 155);
  --gray2-light: rgb(199, 199, 199);
  --gray3: rgb(44, 44, 44);

}