:root {
  --clr1: #ffc9f1;
  --clr2: #ffdff6;
  --clr1-dark: #daaece;

  --gray1-light: #c1f1e1;
  --clr2bg-light: #e9d8a6;

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

}