:root {
  --clr1: #6debff;
  --clr1-dark: #00b7ff;
  --clr1-light: #b5f5ff;

  --clr2: #ffc1f4;
  --clr2-dark: #ffa6e9;
  --clr2-light: #ffd1f6;

  --clr1bg: #c3eddf;
  --clr1bg-light: #c1f1e1;
  --gray3-light: #c0ffeb;

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

}