* {
  box-sizing: border-box;
}

html {}

body {
  background-color: var(--gray2);
  margin: 0;
  color: var(--gray3);
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: .3em 0 .3em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: unset;
}



/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold
}

a.active {
  text-decoration: underline;
}