* {
  box-sizing: border-box;
}

html {}

body {
  background-color: var(--gray1);
  margin: 0;
  color: var(--gray3);
  /* font-family: sans-serif; */
  font-family: 'Elms Sans', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: .3em 0 .3em;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Elms Sans', sans-serif;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: unset;
}



/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold
}

a.active {
  text-decoration: underline;
}

.loading {
  font-size: 1.5rem;
  font-weight: 500;
  padding: .5em;
}

.popup-menu {
  position: fixed;
  flex-direction: column;
  padding: 40px;
  width: 30vw;
  align-items: center;
  height: auto;
  background-color: rgb(248, 250, 247);
  border: 1px solid #bebebe;
  box-shadow: 1px 2px 16px #000000a6;
  display: flex;
  inset: 0;
  margin: auto;
  height: fit-content;
}
.popup-menu h1 {
  font-size: 1.5em;
}