button {
    cursor: pointer;
    background-color: var(--gray1);
    margin: 0.5em;
    border: 0;
    padding: 0.5em 0.8em;
    border-radius: 10px;   
}

button:hover {
    background-color: var(--gray3);
    color: white;
    transition: .3s;
}
input:focus {
    background-color: var(--gray1);
    transition: background-color 1s;
}