/* flex helpers */

.flex {
    display: flex;
}

.flex.flex-column {
    flex-direction: column;
}

.flex.justify-center {
    justify-content: center;
}

.flex.justify-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

/* text helpers */

.colored-text {
    color: var(--clr1);
}

/* list helpers */

.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* font awsome */

.fa {
    font-family: fa;
}

.fa.fa-facebook::before {
    content: "\f39e";
}

.fa.fa-twitter::before {
    content: "\f099";
}

.fa.fa-dribbble::before {
    content: "\f17d";
}

.fa.fa-behance::before {
    content: "\f1b4";
}

.btn-prev, .btn-next {
    margin: 1em;
    padding-block: .3em;
    padding-inline: .6em;

    &:hover {
        color: var(--gray1-light);
        background-color: transparent;
    }
}

.btn-prev:disabled,
.btn-next:disabled {
    color: var(--gray2);
    opacity: .6;
    cursor: default;
    background-color: transparent;

    &:hover {
        color: var(--gray2);
        opacity: .6;
    }
}

.not-in-stock {
    color: red;
}

.in-stock {
    color: green;
}